<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0.0" package="org.sadko.gestures">
    <application android:label="@string/app_name" android:icon="@drawable/icon2">
        
    <activity android:label="Record" android:name="org.sadko.gestures.Recorder"><intent-filter><action android:name="android.intent.action.MAIN"></action>

</intent-filter>
</activity>

<provider android:name="org.sadko.gestures.MotionsDB"
        
            android:authorities="org.sadko.gestures.content">
        </provider>

<activity android:name="Manager"><intent-filter><category android:name="android.intent.category.LAUNCHER"></category><action android:name="android.intent.action.MAIN"></action>

</intent-filter></activity>
<activity android:name="MotionEditor"></activity>
<activity android:name="AppPicker"></activity>
<service android:name="MotionHandler1"><intent-filter><action android:name="net.sadko.gestures.CONTROL_SERVICE"></action>
</intent-filter>
</service>
</application>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>


</manifest> 